langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters

pypdf
numpy
pymupdf
tqdm

sentence-transformers
chromadb
scikit-learn

langchain-groq
python-dotenv
langchain-huggingface
streamlit